  /* ESTILOS TATETI */
#g1{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#g1 a{
    text-decoration: none;
    color:grey;
  }

  #g1 #contenedor {
    display: grid;
    grid-template-columns: repeat(3,100px);
    gap: 5px;
    /* justify-content: space-evenly;
    width: 40%;
    height: 5% ; */
  }
  
  #g1 #contenedor > div{
    border: 1px solid black;
    width: 100px;
    height: 100px ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #g1 .disable{
    background-color: #ccc;
    pointer-events: none;
  }
  #g1 .disable:hover{
    cursor:not-allowed;
  }
  
  #g1 .winner{
    background-color: rgb(194, 95, 255);
    color:white;
  }

  /* ESTILOS GENERALA */

  #g2 #contenedorGenerala{
    display: flex;
    flex-direction: row;
}


#g2 #contenedorGenerala{
  display: block
}


#g2 .dice{
  display: inline-block;
  padding: 10px;
  margin: 20px;
}

#g2 .disable{
  background-color: #ccc;
  pointer-events: none;
}

#g2 .disable:hover{
  cursor:not-allowed;
}


#g2 #contenedorGenerala .dice.selected{
  border: 2px solid red;
}


#g2 table {
  width: 30%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#g2 table th, table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#g2 table th {
  background-color: #4CAF50;
  color: #ffffff;
  text-transform: uppercase;
}

#g2 table tr:hover {
  background-color: #f1f1f1;
}

#g2 table tr:nth-child(even) {
  background-color: #f9f9f9;
}