body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: auto;
  margin: 0;
}
form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}
label {
  font-weight: bold;
  color: #333;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0 16px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.nodisp{
  display: none !important;
}


#g2{
  background-color: blue;
  color: white;
}
#g3{
  background-color: green;
  color: white;
}
#main, #profile, .game {
  padding: 0;
  padding-top: env(safe-area-inset-top); /*resuelve el notch de apple*/
  margin: 0;
  width: 100vw;
  height: 100vh;
}

/* CSS DEL TATETI
#contenedor {
  display: grid;
  grid-template-columns: repeat(3,100px);
  gap: 5px;
  /* justify-content: space-evenly;
  width: 40%;
  height: 5% ; 
}

#contenedor > div{
  border: 1px solid black;
  width: 100px;
  height: 100px ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.disable{
  background-color: #ccc;
  pointer-events: none;
}
.disable:hover{
  cursor:not-allowed;
}

.winner{
  background-color: rgb(194, 95, 255);
  color:white;
}*/